	<h1>This is the great TEAM</h1>
	<div class="jumbotron center">
		<p>The German	<%= link_to "Sergej", "https://www.facebook.com/sergej.tolz", class: "btn btn-primary btn-lg" %></p>
		<p>The Ladies' Man	<%= link_to "Gabriele", "https://www.facebook.com/gabriele.grecchi?fref=ts", class: "btn btn-primary btn-lg" %></p>
		<p>The Consultant	<%= link_to "Francis", "https://www.facebook.com/francis.needham?fref=ts", class: "btn btn-primary btn-lg" %></p>
		<p>The Brains	<%= link_to "Paolo", "http://www.linkedin.com/profile/view?id=24573890&locale=en_US&trk=tyah2&trkInfo=tas%3Apaolo%20chiodi%2Cidx%3A1-1-1", class: "btn btn-primary btn-lg" %></p>
</div>